1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [1]:
def sum_of_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example usage
numbers = [1, 2, 3, 4, 5, 6]
result = sum_of_even_numbers(numbers)
print(result)  # Outputs 12 (2 + 4 + 6)

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [2]:
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "hello"
reversed_string = reverse_string(input_string)
print(reversed_string)  # Outputs "olleh"

olleh

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [3]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Example usage
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_numbers(numbers)
print(squared_numbers)  # Outputs [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [4]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Example usage
for num in range(1, 201):
    if is_prime(num):
        print(num, "is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
101 is prime
103 is prime
107 is prime
109 is prime
113 is prime
127 is prime
131 is prime
137 is prime
139 is prime
149 is prime
151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime
181 is prime
191 is prime
193 is prime
197 is prime
199 is prime

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [8]:
class FibonacciIterator:
    def __init__(self, terms):
        self.terms = terms
        self.current = 0
        self.next_value = 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.terms:
            raise StopIteration
        if self.count == 0:
            self.count += 1
            return 0
        elif self.count == 1:
            self.count += 1
            return 1
        else:
            fib_number = self.current + self.next_value
            self.current = self.next_value
            self.next_value = fib_number
            self.count += 1
            return fib_number

# Example usage
fib = FibonacciIterator(10)  # Generate the first 10 Fibonacci numbers
for num in fib:
    print(num)

0
1
1
2
3
5
8
13
21
34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [9]:
def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage
for power in powers_of_two(5):  # Generate powers of 2 up to 2^5
    print(power)

1
2
4
8
16
32

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [10]:
def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()  # Using strip() to remove any leading/trailing whitespace

# Example usage (assuming 'example.txt' is a valid file)
for line in read_file_lines('example.txt'):
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [11]:
# List of tuples
tuples = [(1, 3), (2, 1), (4, 2), (5, 0)]

# Sorting using a lambda function
sorted_tuples = sorted(tuples, key=lambda x: x[1])

# Print the sorted list
print(sorted_tuples)

[(5, 0), (2, 1), (4, 2), (1, 3)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [12]:
# List of temperatures in Celsius
celsius_temps = [0, 20, 30, 40, 100]

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Using map() to convert Celsius to Fahrenheit
fahrenheit_temps = map(celsius_to_fahrenheit, celsius_temps)

# Converting the result to a list and printing
print(list(fahrenheit_temps))

[32.0, 68.0, 86.0, 104.0, 212.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [13]:
def remove_vowels(input_string):
    # Define the vowels
    vowels = "aeiouAEIOU"

    # Use filter() to keep only non-vowel characters
    result = filter(lambda char: char not in vowels, input_string)

    # Join the filtered characters into a string and return it
    return ''.join(result)

# Test the function
input_string = "Hello, World!"
output_string = remove_vowels(input_string)
print(f"Original String: {input_string}")
print(f"String without vowels: {output_string}")

Original String: Hello, World!
String without vowels: Hll, Wrld!

11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Order Number   Book Title and Author               Quantity   Price Per Item

34587          Learning Python, Mark Lutz          4          40.95
98762          Programing Python, Mark Lutz        5          56.80
77226          Head First Python, Paul Barry       3          32.95
88112          Einfuhrung in Python, Bernd Klein   3          24.99




Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [14]:
# List of orders (Order Number, Book Title and Author, Quantity, Price Per Item)
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einfuhrung in Python, Bernd Klein', 3, 24.99]
]

# Function to calculate the total cost and apply the 10€ bonus if necessary
def calculate_total(order):
    order_number, title, quantity, price_per_item = order
    total = quantity * price_per_item
    if total < 100:
        total += 10  # Apply the bonus if total is less than 100€
    return (order_number, total)

# Use map() with lambda to apply the function to each order
result = list(map(lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))

# Output the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]